body[ng-cloak] {
    display: none;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear !important;
  animation: fa-spin 6s infinite linear !important;
}

.fa-2x {
  vertical-align: middle;
}

.busy-text {
	
	color: #9c5052;
}

.free-text {
	color: #8bc87a;
}

.noDataStyle{
	/*color: white;*/
}

.busyStyle{
	color: #e74c3c !important;
}

.freeStyle{
	color: #1abc9c !important;
}

div.popover {
  position: absolute;
  text-align: left;
  width: 120px;
  height: 80px;
  padding: 8px;
  font: 14px sans-serif;
  /*background-color: red;*/
  border: 0px;
  border-radius: 2px;
  pointer-events: none;
  opacity:0;
/*  -webkit-box-shadow: 0 8px 6px -6px black;
     -moz-box-shadow: 0 8px 6px -6px black;
          box-shadow: 0 8px 6px -6px black;*/
     box-shadow: 5px 5px 5px #666;
    -moz-box-shadow: 5px 5px 5px #666;
    -webkit-box-shadow: 5px 5px 5px #666;
}