body[ng-cloak] {
    display: none;
}

.slow-spin {
  -webkit-animation: fa-spin 6s infinite linear !important;
  animation: fa-spin 6s infinite linear !important;
}

.fa-2x {
  vertical-align: middle;
}

.busy-text {
	
	color: #9c5052;
}

.free-text {
	color: #8bc87a;
}

.noDataStyle{
	/*color: white;*/
}

.busyStyle{
	color: #e74c3c !important;
}

.freeStyle{
	color: #1abc9c !important;
}