h1 { font-family: 'Roboto', sans-serif; font-weight: 300; font-size: 3.5em;}
h2 { font-family: 'Roboto', sans-serif; font-weight: 100; }
.jumbotron{
	background:white;
}

.map {
	background: url(/images/labinverted.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.red-label { 
color: #FF8080;
}

.green-label { 
color: 80C080;
}

.navbar-header {
	color: white;
	font-size:1.5em;
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
  background-color: #8CCDFD;
}
