<!DOCTYPE html>
<html lang="en" ng-app="app" ng-cloak>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Yun Dashboard</title>
    <link rel="stylesheet" href="/bower_components/angular-material/angular-material.min.css">
    <link rel="stylesheet" href="/javascripts/angular-app/styles/app.css">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto:100,400,700'>
    <script src="https://use.fontawesome.com/9801496e3d.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body layout="column" ng-controller="DataController as dc" ng-cloak>
    <div flex layout="row">
        <md-sidenav flex-md="30" flex-gt-md="20" md-is-locked-open="$mdMedia('gt-md')" class="md-whiteframe-4dp" layout="column" md-component-id="left">
            <img src="images/waterloo-logo-yellow-white.svg" style="width:100%">
            <md-divider></md-divider>
            <md-list ng-if="$root.storeAvailable" ng-hide="true">
                <!-- <md-subheader class="md-no-sticky">Availability Summary</md-subheader> -->
                <md-list-item class="md-3-line" ng-click="null" ng-repeat="machineInfo in $root.machineData">
                    <img ng-src="{{machineInfo.type === 'M' ? 'images/milling.svg' : 'images/lathe.svg'}}" class="md-avatar" style="border-radius: 0;" />
                    <div class="md-list-item-text" layout="column">
                        <h3>{{machineInfo.text}}</h3>
                        <h4 style="font-size:larger" ng-style="{'color': machineInfo.statusColor}">{{$root.determineStatusString(machineInfo.status)}}</h4>
                        <h4>{{machineInfo.datetime}}</h4>
                    </div>
                </md-list-item>
            </md-list>
            <div class="footer">
                <md-subheader class="md-no-sticky">Regular Hours</md-subheader>
                <ul>
                    Mon - Fri 8:30AM - 9:00PM
                </ul>
                <ul>Saturday 10:00AM - 5:00PM</ul>
                <ul>Sunday Closed</ul>
            </div>
            <div class="footer">
                <md-subheader class="md-no-sticky">Scheduled Breaks</md-subheader>
                <ul>
                    Monday - Friday 
                </ul>
                <ul>12:00PM - 12:30PM</ul>
                <ul>04:30PM - 05:00PM</ul>
                <ul>07:00PM - 07:20PM</ul>
                <ul>Saturday</ul>
                <ul>12:00PM - 13:30PM</ul>
                <ul>03:00PM - 03:20PM</ul>
            </div>
        </md-sidenav>
        <div layout="column" flex>
            <div schedule layout-padding></div>
            <div class="header layout-padding layout-margin">
                <h1 class="md-display-2 " style="font-weight:100; padding-bottom:0; margin-bottom:0">Live Status Map</h1>
                <p style="margin-top:0; padding-top:0">Find out if the UW student machine shop is busy or not</p>
            </div>
<!--             <div class="legend" layout="row" layout-padding style="padding-left:18px" layout-wrap>
                <div class="available" style="margin: 0 0.8em">
                    <md-tooltip md-direction="bottom">
                        Has not been used within the last 15 minutes.
                    </md-tooltip>
                    <div style="height:1em; width: 1em; background-color: #1abc9c; display: inline-block"></div>
                    <span style="margin-left:10px">Available</span>
                </div>
                <div class="inUse" style="margin: 0 0.8em">
                    <md-tooltip md-direction="bottom">
                        Machine is currently running.
                    </md-tooltip>
                    <div style="height:1em; width: 1em; background-color: #e74c3c; display: inline-block"></div>
                    <span style="margin-left:10px">In Use</span>
                </div>
                <div class="recentlyUsed" style="margin: 0 0.8em">
                    <md-tooltip md-direction="bottom">
                        Machine may still be occupied due to recent activity.
                    </md-tooltip>
                    <div style="height:1em; width: 0.8em; background-color: #f39c12; display: inline-block"></div>
                    <span style="margin-left:10px">Potentially occupied</span>
                </div>
                <div class="noData" style="margin: 0 0.8em">
                    <md-tooltip md-direction="bottom">
                        Stay tuned... coming soon!
                    </md-tooltip>
                    <div style="height:1em; width: 1em; background-color: white; display: inline-block"></div>
                    <span style="margin-left:10px">No data</span>
                </div>
            </div> -->
            <div class="map" layout="row" layout-align="center top" style="display: block; margin: 2em auto" id="map" map-chart>
            </div>
            <div class="popover" ng-style="{'background-color': $root.machineData[$root.popOverIndex].statusColor}">
                <div style="font-size: smaller"><b>Today so far...</b></div>
                <!-- <span class="machineName"></span><span style="float:right" class="machineStatus"></span> -->
                <div line-chart class="lineChart" id="popOverChart" style="margin: 0 auto;" data="$root.tempChartData"></div>
                <!--                 <div style="font-size:smaller; float:right">No Activity</div> -->
            </div>
        </div>
    </div>
    <script type="text/javascript " src="/socket.io/socket.io.js "></script>
    <script src="/bower_components/angular/angular.min.js "></script>
    <script src="/bower_components/angular-animate/angular-animate.min.js "></script>
    <script src="/bower_components/angular-aria/angular-aria.min.js "></script>
    <script src="/bower_components/angular-material/angular-material.min.js "></script>
    <script src="/bower_components/angular-messages/angular-messages.min.js "></script>
    <script src="/bower_components/d3/d3.min.js "></script>
    <script src="/bower_components/moment/moment.js "></script>
    <!-- <script src="/bower_components/moment-timezone/builds/moment-timezone.min.js"></script> -->
    <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data.min.js"></script>
    <!-- <script src="/bower_components/moment-timezone/builds/moment-timezone-with-data-2010-2020.min.js"></script> -->



    <script src="/javascripts/angular-app/app.js "></script>
    <script src="/javascripts/angular-app/controllers/data-controller.js "></script>
    <script src="/javascripts/angular-app/controllers/data-controller.js "></script>
    <script src="/javascripts/angular-app/services/configuration.js "></script>
    <script src="/javascripts/angular-app/services/socket-service.js "></script>
    <script src="/javascripts/angular-app/services/d3-service.js "></script>
    <script src="/javascripts/angular-app/directives/schedule-directive.js"></script>
    <script src="/javascripts/angular-app/directives/bar-directive.js"></script>
    <script src="/javascripts/angular-app/directives/map-directive.js"></script>
    <script src="/javascripts/angular-app/directives/line-directive.js"></script>
</body>

</html>
